{% extends 'myapp/base.html' %}

{% block content %}
<main class="container" style="padding: 30px 0;">
  <div class="row">
    <div class="col-md-9">
      <br>
      <h2>Post 一覧</h2>
      <br>
      
      <table class="table table-hover table-bordered shadow-2-strong">
        <thead class="table-dark">
          <tr>
            <th width="200px">Title</th>
            <th scope="col">Content</th>
            <th width="200px">Created_at<br>Updated_at</th>
          </tr>
        </thead>
        <tbody>
          {% for item in post_list %}
            <tr>
              <td><a href="{% url 'myapp:post_detail' item.pk %}">{{ item.title }}</a></td>
              <td>{{ item.content | safe | truncatechars_html:30 }}</td>
              <td>{{ item.created_at.date }}<br>{{ item.updated_at.date }}</td>
            </tr>
          {% endfor %}
          
        </tbody>
      </table>
      <br>

      {% include 'myapp/pagination.html' %}

      <br>
    </div>
  </div>
</main>
  
{% endblock %}